body {
    margin:0px;
    background:#333;
    font-size: 14px;
    
}

form {
    overflow:auto;
    max-width:780px;
    margin:0 auto;
    background:#fff;
    padding:10px;

}

.clear {
    clear: both;
}



p, a, h1, h2, h3 {
    font-family: Arial;
    font-weight:normal;
}


p, a {
   
}

.error {
    color: red;
}



input[type=text] {
    width:620px;
    height:20px;
    border:1px solid #a9a6a6;
}

/*twitter box styles*/
.twitterbox {
    clear:both;
    margin-top:60px;
}

.twitterbox .tweet {
    margin:10px 0px;
}

.twitterbox .iconimg, .twitterbox .tweettext {
    float: left;
}

.twitterbox .tweettext {
    
}

.twitterbox .tweetimage {
    display:table;
    clear:both;

}

.twitterbox .tweetimage img {
    max-width: 300px;
}

.twitterbox .hashtag {
    color: darkred;
}
/*twitter box styles end*/

/*Query Button and Box*/
#TwitterQuery, #QueryButton
{
    float:left;
    
    


}


#QueryButton{
    
    text-decoration:none;
    display:block;
    background-color:#333;
    padding:3px;
    margin-left:3px;
    color:#fff;
    font-weight:bold;

}
/*Query Button end*/